<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Cars Web App</display-name>
    <servlet>
        <servlet-name>servlet-cars</servlet-name>
        <servlet-class>org.cars.servlets.CarsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet-cars</servlet-name>
        <url-pattern>/cars</url-pattern>
    </servlet-mapping>
</web-app>
